.root {
    -fx-accent: #fbc;
    -fx-focus-color: #fbc;
}

.mainView {
    -fx-pref-width: 960;
    -fx-pref-height: 640;
}

.actionBar {
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-alignment: center;
}

#fileItemContainer {
    -fx-padding: 4;
    -fx-hgap: 4;
    -fx-vgap: 4;
}

.fileItem {
    -fx-padding: 8;
    -fx-min-width: 150;
    -fx-alignment: center;
}

.fileItem:hover {
    -fx-background-color: rgba(255, 192, 208, 0.5);
}

.fileItem.selected {
    -fx-background-color: rgba(255, 192, 208, 0.75);
    -fx-padding: 7;
    -fx-border-width: 1;
    -fx-border-color: rgba(220, 150, 170, 0.9);
}

.statusBar {
    -fx-padding: 4;
    -fx-spacing: 4;
    -fx-alignment: center;
}

.fileViewer {
    -fx-pref-height: 600;
}

.fileViewer #viewer {
    -fx-min-width: 500;
    -fx-alignment: center;
}

.fileViewer #viewer #imageViewer {

}

.fileViewer #props {
    -fx-pref-width: 300;
    -fx-background-color: rgba(0, 0, 0, 0.03);
}

.fileViewer #props > * {
    -fx-background-color: transparent;
}

